.card{
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px gray;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    align-content: center;

}

.card__image{
    width: 100%;
    height: auto;
}

.card__content-container{
    padding: 10px;
}

.card__text, .card__button{


    margin: 0.5rem 0;
}

.card__button{
    width: 75px;
    height: 1.5rem;
    background-color: var(--button-color-primary);
    border: none;
    border-radius: 5px;
    color: white;
}