*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

header{
    margin-top: 10px;
}

main{
    margin: 10px auto;
    width: 100vw;
}


.sign-up-form__input-container{
    display: flex;
    flex-direction: column;
    /* column-gap: 20px; */
}




.sign-up-form__input_lg, .sign-up-form__input_sm, .sign-up-form__input-container button{
    width: 100%;
}

.sign-up-form__terms-and-agreement-container{
    display: flex;
    align-items: center;
    justify-content:start;
    flex-wrap: wrap;

}

.sign-up-form__input-checkbox{
    margin-right: 5px;
}

.sign-up-form__input-label{

    font-weight: bold;

}

.sign-up-form__text{
    text-align:justify;
    font-size: 0.9rem;
}


.sign-up-form__text_light-blue{
    color: #B1CFE9;
}



input, button{
    height: 2.5rem;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 1rem;
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    outline: none;
    border: 1px solid #428BCA;
    box-shadow: 0 0 3px #428BCA;

}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"]{
    padding-left: 7px;
    /* text-indent: 50px; */
}


.sign-up-form__input_blue{
    background-color: #428BCA;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.sign-up-form__button_green{
    background-color: #5CB85C;
    color: white;
}


@media only screen and (min-width: 501px) {   
    
    main{
     
        width: 500px;
    }

    .sign-up-form__input-container{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .sign-up-form__terms-and-agreement-container{
        display: flex;
        align-items: center;
        margin-top: 20px;
        height: 3vh;
        margin-left: -18px;
        flex-wrap: nowrap;

    }

    .sign-up-form__input-label{

        width: 190px;
    
    }
    
  }