*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

main{
    margin: 30px auto;
    width: 500px;
}


.sign-up-form__input-container{
    display: flex;
    /* justify-content: space-between; */
    column-gap: 20px;
}

.sign-up-form__input_sm, .sign-up-form__input-container button{
    width: 50%
}

.sign-up-form__input_lg{
    width: 100%;
}

.sign-up-form__terms-and-agreement-container{
    display: flex;
    align-items: center;
    margin-left: -18px;
    justify-content: space-between;
    
}

.sign-up-form__input-checkbox{
    margin-right: 5px;
}

.sign-up-form__input-label{

    width: 190px;
    font-weight: bold;

}

.sign-up-form__text{
    text-align:justify;
    font-size: 0.9rem;
}


#agree #terms{
    color: #B1CFE9;
}



input, button{
    height: 2.5rem;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 1rem;
    /* font-weight: bold; */
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"]{
    padding-left: 7px;
    /* text-indent: 50px; */
}


.sign-up-form__input_blue{
    background-color: #428BCA;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

button{
    background-color: #5CB85C;
    color: white;
}