*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

#sign-up-container{
    margin: 30px auto;
    width: 500px;
}


.input2{
    display: flex;
    /* justify-content: space-between; */
    column-gap: 20px;
}

.input2 input, .input2 button{
    width: 50%
}

.input1{
    width: 100%;
}

#agree{
    display: flex;
    align-items: center;
}

#agree #terms{
    color: #B1CFE9;
}

#checkbox{
    width: 20%;
    display:flex;
    align-items: center;
}

#checkbox label{
   margin-left: 5px;
}

#agree p{
    width: 80%;
    font-size: 0.9rem;
}

input, button{
    height: 2.5rem;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 1rem;
    /* font-weight: bold; */
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"]{
    padding-left: 7px;
    /* text-indent: 50px; */
}


.register{
    background-color: #428BCA;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

button{
    background-color: #5CB85C;
    color: white;
}