@import "../blogPost/blogPost.css";

.archives {
    display: none;
  }


  @media only screen and (min-width: 710px) {
  
    .archives {
      display: flex;
  
      border: var(--side-bar-border);
  
      flex-direction: column;
  
      justify-content: space-around;
  
      grid-area: 1 / 9 / span 2 / span 4;
  
      background-color: var(--color-primary);
    }
  
  }