@import '.././card/card.css';

.article-grid-container{
    margin-top: 20px;
    margin-bottom: 20px;
    display:grid;
    justify-items: center;
    gap: 20px 10px;
 
}


@media only screen and (min-width: 710px ) {


    .article-grid-container{
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        width: var(--page-width-lg);
        margin-right: auto;
        margin-left: auto;
        
    }

}