@import ".././index.css";
@import ".././archives/archives.css";
@import '.././social-media/social-media.css';

:root {
  --side-bar-border: 1px solid rgb(240, 240, 240);
  --side-bar-content-margin: 15px 0 15px 25px;
}

.blog-post-grid-container {
  display: grid;

  grid-template: repeat(3, 1fr), 3rem / repeat(12, 1fr);

  margin-top: 20px;
}

.blog-post {
  grid-area: 1 / 1 / span 3 / span 12;
  margin-left: 20px;
  margin-right: 20px;
}

.avatar-container {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 0;
}

.avatar {
  grid-area: 1 / 9 / span 2 / span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post-name-date {
  margin-left: 10px;
}

.avatar-image {
  width: 35px;
  height: auto;
  border-radius: 50%;
}

.line {
  height: 1px;
  border-width: 0;
  background-color: var(--border-color);
  margin-bottom: 1rem;
}

.blog-post-image {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 1rem;
}

figcaption > q {
  quotes: "<<" ">>";
}

.blog-post__text-paragraph {
  text-indent: 30px;
  margin-bottom: 1rem;
}

.paragraph-1 {
  font-weight: bold;
}

.side-bar-content {
  margin: var(--side-bar-content-margin);

}



@media only screen and (min-width: 710px) {
  .blog-post-grid-container {
    grid-template: repeat(5, 1fr) / repeat(12, 1fr);
    width: var(--page-width-lg);

    row-gap: 10px;

    margin: 20px auto;
  }

  .blog-post {
    grid-area: 1 / 1 / span 5 / span 8;
  }

}
